@use 'theme-colors';
@use 'variables';

#content-container
{
  font-family: variables.$roboto;
  font-size: variables.$normal-font-size;

  padding: variables.$centering-padding;

  width: 100%;

  > h1
  {
    text-align: center;
    font-size: variables.$big-font-size;
    padding: 1rem 0;
  }
}

#hero-image
{
  background:
    linear-gradient(217deg, rgb(255 0 0 / 0.8), transparent 70.71%),
    linear-gradient(127deg, rgb(0 255 0 / 0.8), transparent 70.71%),
    linear-gradient(336deg, rgb(0 0 255 / 0.8), transparent 70.71%),
    url("../assets/image.jpg");

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @extend %flex-main-centered;
  @extend %flex-cross-centered;

  height: 100vh;

  #hero-text
  {
    color: white;

    font-size: variables.$heroic-font-size;

    text-align: center;
  }
}

#about-grid
{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(8, 1fr);
  gap: variables.$small-centering-padding;

  aspect-ratio: 2 / 1;
  width: 100%;

  .about-grid-cell
  {
    @include theme-colors.violet($opacity: 0.25);

    border-radius: variables.$big-radius;

    @extend %flex-main-centered;
    @extend %flex-cross-centered;

    flex-direction: column;
    gap: 1rem;

    padding: variables.$small-centering-padding;

    h1
    {
      color: white;

      font-family: variables.$inter;
      font-size: variables.$medium-font-size;

      text-align: center;
    }
  }

  #call-to-action
  {
    grid-row: 1 / 5;
    grid-column: 1 / 6;
  }

  #portrait
  {
    grid-row: 1 / 5;
    grid-column: 6 / 9;

    img
    {
      height: 100%;
    }
  }

  #details
  {
    grid-row: 1 / 7;
    grid-column: 9 / 13;
  }

  #description
  {
    grid-row: 5 / 9;
    grid-column: 1 / 5;
  }

  #video
  {
    grid-row: 5 / 9;
    grid-column: 5 / 9;

    #video-thumbnail
    {
      cursor: pointer;

      position: relative;

      width: 100%;
      height: 100%;

      transform-origin: top left;
      transition: variables.$modal-expand-transition-duration transform 0s ease;

      z-index: 1;
    }

    #modal-content
    {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;

      width: 100%;
      height: 100%;

      padding: variables.$centering-padding;

      justify-content: space-around;
      @extend %flex-cross-centered;
      flex-direction: column;

      opacity: 1;
      z-index: -1;
      display: none;

      transition-behavior: allow-discrete;
      transition-property: background-color, display;

      #modal-header
      {
        @include theme-colors.violet;

        max-width: 65%;

        padding: 0 variables.$small-centering-padding;

        font-family: variables.$inter;
        font-size: variables.$video-modal-font-size;

        opacity: 0;

        transition-property: opacity;
      }

      #modal-video
      {
        width: 65%;

        opacity: 0;

        transition-property: opacity, transform;
      }
    }

    #modal-content.fade-in
    {
      background-color: #0008;
      display: flex;

      z-index: 2;

      transition-duration: variables.$modal-fade-transition-duration;
      transition-delay: variables.$modal-expand-transition-duration;

      #modal-header,
      #modal-video
      {
        opacity: 1;

        transition-duration: inherit;
        transition-delay: inherit;
      }

      ~ #video-thumbnail
      {
        transition-duration: variables.$modal-expand-transition-duration;
        transition-delay: 0s;
      }
    }

    #modal-content.fade-out
    {
      background-color: #0000;
      display: none;

      z-index: 2;

      transition-duration: variables.$modal-fade-transition-duration;
      transition-delay: 0s;

      #modal-header,
      #modal-video
      {
        opacity: 0;

        transition-duration: inherit;
        transition-delay: inherit;
      }

      ~ #video-thumbnail
      {
        transition-duration: variables.$modal-expand-transition-duration;
        transition-delay: variables.$modal-fade-transition-duration;
      }
    }
  }

  #carousel
  {
    grid-row: 7 / 9;
    grid-column: 9 / 13;

    display: flex;
    justify-content: space-between;
    @extend %flex-cross-centered;
    flex-direction: row;

    font-size: variables.$big-font-size;
    color: white;

    padding: variables.$small-centering-padding variables.$centering-padding;

    #carousel-left,
    #carousel-right
    {
      cursor: pointer;
    }

    #carousel-container
    {
      width: 100%;
      height: 100%;

      @extend %flex-main-centered;
      @extend %flex-cross-centered;


      overflow: hidden;

      #carousel-slider
      {
        display: flex;
        flex-direction: row;
        gap: 25%;

        width: fit-content;
        height: 100%;

        transition: transform variables.$carousel-sliding-transition-duration;

        z-index: 0;
      }

      img
      {
        height: 100%;
      }
    }

    #carousel-left:hover
    {
      @include theme-colors.blue-text($mix: 90%);
    }

    #carousel-left:active
    {
      @include theme-colors.blue-text($mix: 50%);
    }

    #carousel-right:hover
    {
      @include theme-colors.blue-text($mix: 90%);
    }

    #carousel-right:active
    {
      @include theme-colors.blue-text($mix: 50%);
    }
  }
}

@media screen and (max-width: 768px)
{
  #modal-header
  {
    font-size: calc(variables.$video-modal-font-size / 2);
  }
}
