/* Your SCSS here. */
@use 'theme-colors';

html
{
  scrollbar-gutter: stable;
  scrollbar-color: theme-colors.$honey-bronze lightgray;
  scrollbar-width: 1rem;
}

@media screen and (min-width: 600px) and (max-width: 800px)
{
  :root
  {
    font-size: 60%;
  }
}

@media screen and (min-width: 801px) and (max-width: 1000px)
{
  :root
  {
    font-size: 80%;
  }
}

@media screen and (min-width: 1001px)
{
  :root
  {
    font-size: 100%;
  }
}

*,
*::before,
*::after
{
  // The sizes (width, height) now include the padding and border, instead of just the content
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

body
{
  background-color: white;

  min-height: 100%;

  display: grid;
  grid-template-rows: auto 1fr auto;

  overflow: hidden auto;
}

